<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div p="uno">
  </div>
  <div l="dos">
  </div>
  <div a="tres">
  </div>
  <div y="cuatro">
  </div>
<app-snake [texto]="filas[0]"></app-snake>
<app-snake [texto]="filas[1]"></app-snake>
<app-snake [texto]="filas[2]"></app-snake>
<app-snake [texto]="filas[3]"></app-snake>
<app-snake [texto]="filas[4]"></app-snake>
<app-snake [texto]="filas[5]"></app-snake>
<app-snake [texto]="filas[6]"></app-snake>
<app-snake [texto]="filas[7]"></app-snake>
<app-snake [texto]="filas[8]"></app-snake>
<app-snake [texto]="filas[9]"></app-snake>
<app-snake [texto]="filas[10]"></app-snake>
<app-snake [texto]="filas[11]"></app-snake>
<app-snake [texto]="filas[12]"></app-snake>
<app-snake [texto]="filas[13]"></app-snake>
<app-snake [texto]="filas[14]"></app-snake>
</ion-content>
